.navbar-game {
  padding: 18px;
}
.bg-custom {
  background: rgba(0, 0, 0, 0.5);
}
.navbar-brand {
  color: #fff !important;
}
.nav-link {
  color: #fff !important;
  font-weight: bold;
  font-size: 12px;
}
.nav-item {
  margin-left: 20px;
}
.toggler-white {
  // background: white;
  color: #fff;
  // fon
}
