.the-games-bg {
  background-image: url("../images/assets/the-games-bg.jpg");
  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
  height: 100%;
  h3 {
    font-size: 24px;
    letter-spacing: 2px;
  }
  h1 {
    font-size: 56px;
    letter-spacing: 3px;
  }
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
}
